<h1 class="has-text-centered">Корзина</h1>

<div class="columns">
  <ng-container *ngIf="cartProducts.length">
    <div class="column is-three-thirds">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th colspan="5">Всего товара: {{ cartProducts.length }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts; let i = index">
            <td class="cart-img">
              <img [src]="product.imagePath" [alt]="product.name" />
            </td>
            <td class="cart-desc">
              <h2>
                <strong>{{ product.name }}</strong>
              </h2>
            </td>
            <td>
              <div>
                <app-number-input
                  [val]="product.qty"
                  (valAdd)="onValAdd(product)"
                  (valSub)="onValSub(product)"
                  [minDisabled]="product.qty === 1"
                ></app-number-input>
              </div>
            </td>
            <td>
              <div>
                 {{ product.price | currency:'UA' }}
              </div>
            </td>
            <td>
              <div>
                <span class="icon has-text-danger" (click)="removeCartProduct(i)">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-one-third">
      <div class="panel">
        <p class="panel-heading has-text-centered">
          <b>Общая цена: {{ cartTotal | currency:'UA' }}</b>
        </p>
        <div class="panel-block has-text-centered">
          <a class="button is-warning" style="cursor: pointer;" routerLink="/">
            <span class="icon">
              <i class="fas fa-cart-plus"></i>
            </span>&nbsp;
            Купить ёще
          </a>

          <a class="button is-danger emptyCartBtn" style="cursor: pointer;" (click)="emptyCart()">
            <span class="icon">
              <i class="fas fa-trash-alt"></i>
            </span>&nbsp; Пустая корзина
          </a>
        </div>
        <div class="panel-block panel-footer has-text-centered">
          <a class="button is-success" style="cursor: pointer;" (click)="onCheckout()">
            <span class="icon">
              <i class="fas fa-check"></i>
            </span>&nbsp;
            Купить
          </a>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="column" *ngIf="!cartProducts.length">
    <h2 class="has-text-centered">Корзина пуста</h2>

    <p class="has-text-centered">Купить ещё <a class="has-text-danger" routerLink="/" style="cursor: pointer">товаров</a></p>
  </div>
</div>
